AuctionSystem.Client/Connected Services/ZipServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AuctionSystem.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AuctionSystem.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfZip">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Zip" nillable="true" type="tns:Zip" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZip" nillable="true" type="tns:ArrayOfZip" />
  <xs:complexType name="Zip">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Zip" nillable="true" type="tns:Zip" />
</xs:schema>