AuctionSystem.Client/Connected Services/ZipServiceReference/item31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9991/Design_Time_Addresses/AuctionSystem.WcfService.Contracts/ZipService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AuctionSystem.Models" />
  <xs:element name="GetAllZips">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllZipsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AuctionSystem.Models" minOccurs="0" name="GetAllZipsResult" nillable="true" type="q1:ArrayOfZip" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>