AuctionSystem.Client/Connected Services/BidService/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AuctionSystem.Models.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AuctionSystem.Models.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BidDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coins" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsWon" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BidDto" nillable="true" type="tns:BidDto" />
  <xs:complexType name="ArrayOfBidDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BidDto" nillable="true" type="tns:BidDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBidDto" nillable="true" type="tns:ArrayOfBidDto" />
</xs:schema>