AuctionSystem.Client/Connected Services/BidService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AuctionSystem.Models" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AuctionSystem.Models.DTOs" />
  <xs:element name="MakeBid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="productId" type="xs:int" />
        <xs:element minOccurs="0" name="coins" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeBidResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBidWon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AuctionSystem.Models" minOccurs="0" name="bid" nillable="true" type="q1:Bid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBidWonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsBidWonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBidById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bidId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBidByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AuctionSystem.Models.DTOs" minOccurs="0" name="GetBidByIdResult" nillable="true" type="q2:BidDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBidsByProductName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBidsByProductNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AuctionSystem.Models.DTOs" minOccurs="0" name="GetAllBidsByProductNameResult" nillable="true" type="q3:ArrayOfBidDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBidsByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBidsByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AuctionSystem.Models.DTOs" minOccurs="0" name="GetAllBidsByUserIdResult" nillable="true" type="q4:ArrayOfBidDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBidsByProductId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBidsByProductIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AuctionSystem.Models" minOccurs="0" name="GetAllBidsByProductIdResult" nillable="true" type="q5:ArrayOfBid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEarnedBids">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEarnedBidsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AuctionSystem.Models" minOccurs="0" name="GetAllEarnedBidsResult" nillable="true" type="q6:ArrayOfBid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>