AuctionSystem.Client/Connected Services/PaymentServiceReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9999/Design_Time_Addresses/AuctionSystem.WcfService/PaymentService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AuctionSystem.Models" />
  <xs:import schemaLocation="http://localhost:9999/Design_Time_Addresses/AuctionSystem.WcfService/PaymentService/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/AuctionSystem.Models.DTOs" />
  <xs:element name="AddPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AuctionSystem.Models" minOccurs="0" name="payment" nillable="true" type="q1:Payment" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AuctionSystem.Models" minOccurs="0" name="user" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paymentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AuctionSystem.Models.DTOs" minOccurs="0" name="GetPaymentResult" nillable="true" type="q3:PaymentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AuctionSystem.Models" minOccurs="0" name="payment" nillable="true" type="q4:Payment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePaymentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AuctionSystem.Models" minOccurs="0" name="payment" nillable="true" type="q5:Payment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePaymentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentsByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AuctionSystem.Models" minOccurs="0" name="user" nillable="true" type="q6:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentsByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AuctionSystem.Models" minOccurs="0" name="GetPaymentsByUserResult" nillable="true" type="q7:ArrayOfPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>